.workspace {
  position: relative;
  background: whitesmoke;
  width: calc(100% / 3 * 2);
  height: 100%;

  @media ((max-width: 760px)) {
    width: 100%;
    height: calc(100% - 110px);

  }
}
.workspace__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.markDown {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  padding: 20px 15px 0 15px;

  background: whitesmoke;

  font-size: 20px;
  line-height: 25px;
  &:focus {
    outline: none;
  }
}

.fullDate {
  opacity: 0.85;
  position: absolute;
  top: 7px;
  right: 5px;
}